@import "../../../assets/styles/colors";
@import "../../../assets/styles/brackPoints";

.roundIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px !important;
  border-radius: 50%;
  cursor: pointer;

  &__icon {
    font-size: medium !important;
  }
}

.navIconColor {
  background: rgb(244, 137, 65);
  background: linear-gradient(
    48deg,
    rgba(244, 137, 65, 1) 0%,
    rgba(237, 208, 123, 1) 82%
  );
}

.sliderIconColor {
  background: rgb(244, 65, 229);
  background: linear-gradient(
    48deg,
    rgb(244, 65, 214) 0%,
    rgb(195, 123, 237) 82%
  );
}

.logoIconColor {
  background: rgb(182, 158, 252);
  background: linear-gradient(
    48deg,
    rgba(182, 158, 252, 1) 0%,
    rgba(122, 93, 215, 1) 71%
  );
}

.stepsDoneIcon {
  border: 1px solid rgba(237, 208, 123, 1) !important;

  .roundIcon__icon {
    color: rgba(237, 208, 123, 1) !important;
  }
}
