@import "../../../assets/styles/colors";
@import "../../../assets/styles/brackPoints";

.NewGoods {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
  height: 400px;

  @include media("<ipad") {
    width: 95%;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 30px;

    &__left {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    &__heading {
      font-size: medium;
      font-weight: bold;
      text-align: left;
      margin-right: 10px;
      color: color(white);
    }

    &__right {
      display: flex;
      align-items: center;
    }

    &__backBtn {
      margin-right: 5px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .label {
    padding: 5px 15px;
    border-radius: 25px;
    color: color(white);
    background: linear-gradient(
      48deg,
      rgba(182, 158, 252, 1) 0%,
      rgba(122, 93, 215, 1) 71%
    );
  }
}
