@import "../../../assets/styles/colors";

.payMethod {
  display: flex;
  border-radius: 15px;
  background-color: color(white);
  width: fit-content;
  padding: 10px 20px;

  > img {
    width: 90px;
    height: 35px;
  }
}
