@import "../../../assets/styles/colors";
@import "../../../assets/styles/brackPoints";

.payMethod {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: color(white);
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;

  -webkit-box-shadow: 0px 0px 4px -1px #000000;
  box-shadow: 0px 0px 4px -1px #000000;

  @include media("<ipadPro") {
    padding: 4px 8px;
  }

  > img {
    width: 75px;
    height: 25px;
    @include media("<ipadPro") {
      width: 65px;
      height: auto;
    }
  }
  > p {
    font-size: large;
    margin-left: 8px;
    font-weight: 550;

    @include media("<ipadPro") {
      font-size: medium;
      font-weight: 500;
    }
  }
}
