@import "../../assets/styles/colors";

.loginForm {
  margin: auto;
  display: flex;
  flex-direction: column;

  &__top {
    margin-top: 40px;
    display: grid;
    grid-gap: 10px;

    > h3 {
      text-align: center;
      margin-bottom: 20px;
      color: color(white);
    }

    .loginForm__btn {
      display: flex;
      justify-content: center;
    }
  }

  &__mid {
    margin: 20px;

    > p {
      color: color(secondary);
      cursor: pointer;
      font-size: small;
    }
  }

  &__bottom {
    display: flex;
    margin-bottom: 40px;

    > p {
      margin-right: 10px;
      color: color(white);
    }

    > a {
      text-decoration: none;
      color: color(secondary);
    }
  }
}
