@import "../../../assets/styles/colors";

.textInput {
  display: flex;
  flex: 1;

  > input {
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: 1px solid color(white);
    border-radius: 25px;
    background: none;
    color: color(white);

    &::placeholder {
      color: color(white);
    }
  }
}

.blue {
  > input {
    background-color: color(lightBlue);
    border: none;
    color: color(black);

    &::placeholder {
      color: color(black);
    }
  }
}
