@import "../../../assets/styles/colors";
.top {
  width: 95%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-left: 20px;
  // margin-right: 20px;
  // margin-bottom: 30px;

  &__left {
    display: flex;
    align-items: center;
  }

  &__heading {
    font-size: medium;
    font-weight: bold;
    margin-right: 10px;
    color: color(white);
  }

  .label {
    padding: 5px 15px;
    border-radius: 25px;
    color: color(white);
    background: linear-gradient(
      48deg,
      rgba(182, 158, 252, 1) 0%,
      rgba(122, 93, 215, 1) 71%
    );
  }

  &__right {
    display: flex;
    align-items: center;
    cursor: pointer;

    > p {
      margin-right: 10px;
    }
  }
}
