@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/brackPoints";

.container {
  padding-top: 10px;
  padding-bottom: 40px;
  border-radius: 25px;
  background-color: rgb(210, 216, 176);
  justify-content: center;
  margin: 10px;

  @include media("<ipad") {
    margin: 5px;
  }

  .slide {
    width: 100%;
    height: 100%;

    .slick-dots {
      width: auto !important;
    }

    .branchSlide {
      height: 100%;
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media("<ipad") {
          margin: 0;
          grid-row: 2;
          align-items: center;
          font-size: medium;
        }

        &__name {
          font-size: 21px;
          font-weight: bold;
          margin: 20px 0;
          color: black;

          @include media("<ipad") {
            font-size: 13px;
            margin: 20px auto 10px;
          }
        }

        &__detail {
          font-size: 20px;
          font-weight: bold;
          margin: 5px 0;
          color: rgb(81, 47, 231);

          @include media("<ipad") {
            font-size: 12px;
            margin-bottom: 10px;
          }
        }
      }

      .image {
        margin: 10px;
        // margin-right: 15px;

        @include media("<ipad") {
          margin: auto;
          margin: 20px 15px 5px;
          grid-row: 1;
        }

        > img {
          margin: auto;
          width: 75%;
          @include media("<ipad") {
            width: 85%;
          }
        }
      }
    }
  }
}

.container-one {
  grid-column: 1 / 3;

  @include media("<ipad") {
    grid-column: 1 / 3;
  }

  .branchSlide {
    display: flex;
    height: 200px;

    .text {
      flex: 0.55;
      text-align: left;
      align-items: left;
      margin-left: 50px;

      &__detail {
        @include media("<ipad") {
          text-align: center;
        }
      }
    }

    .image {
      flex: 0.45;
      display: flex;
      justify-content: center;
    }
  }
}

.container-two {
  grid-column: 3 / 4;
  grid-row: 1 / 3;

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    height: 100%;
  }

  .branchSlide {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;

    .text {
      margin: 10px 15px;
      text-align: center;
    }

    .image {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }

  .slide {
    .slick-dots {
      width: inherit !important;
    }
  }

  @include media("<ipad") {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    .slide {
      .slick-dots {
        width: inherit !important;
      }
    }
  }
}
.container-three {
  grid-column: 1 / 3;

  .branchSlide {
    display: flex;
    height: 100%;

    .text {
      flex: 0.55;
      margin-left: 50px;
      text-align: left;
    }

    .image {
      flex: 0.45;
      display: flex;
      justify-content: center;
    }
  }

  @include media("<ipad") {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    .slide {
      .slick-dots {
        width: inherit !important;
      }
    }

    .branchSlide {
      display: flex;
      flex-direction: column-reverse;
      //   height: 300px;

      .text {
        margin: 10px 15px;
        text-align: center;
      }

      .image {
        flex: 1;
        display: flex;
        justify-content: center;
      }
    }
  }
}
