@import "../../../assets/styles/colors";
@import "../../../assets/styles/brackPoints";

.specialGoods {
  width: 90%;
  height: auto;
  //   margin: 10px 40px;
  margin: auto;
  margin-top: 55px;
  border-radius: 50px;
  color: color(white);
  //   background-image: url("../../../assets/img/2.svg");
  //   background-position-x: right;
  background-color: color(surface);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   background-repeat: no-repeat;
  //   background-size: contain;

  @include media("<ipad") {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    // flex-direction: column-reverse;
    align-items: center;
    flex: 1;
  }

  .bottom {
    width: 95%;
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__slider {
      display: flex;
      width: 90%;
      margin: auto;
      display: flex;
    }

    &__next,
    &__prev {
      @include media("<tablet") {
        display: none;
      }
    }
  }
}

.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center;
}
