@import "../../../assets/styles/colors";
@import "../../../assets/styles/brackPoints";

.button {
  padding: 10px 20px !important;
  border-radius: 25px !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(182, 158, 252);
  background: linear-gradient(
    48deg,
    rgba(182, 158, 252, 1) 0%,
    rgba(122, 93, 215, 1) 71%
  );
  cursor: pointer;
  line-height: 15px !important;
  letter-spacing: 1px !important;

  :hover {
    opacity: 0.8;
  }

  @include media("<tablet") {
    // padding: 2px 7px !important;
    padding: 7px 15px !important;
  }

  @include media("<phone") {
    padding: 3px 10px !important;
    min-width: 4px !important;
  }

  &__icon {
    .MuiSvgIcon-root {
      color: color(white) !important;
      font-size: 20px !important;
      padding-right: 5px !important;

      @include media("<phone") {
        padding-right: 0px !important;
      }
    }
  }
  .showOnlyOnSmallDivce {
    display: none;

    @include media("<tablet") {
      display: block;
      // background-color: red;
    }
  }
  &__text {
    margin: 0;
    padding: 0;
    font-size: x-small !important;
    font-weight: 300 !important;
    color: color(white) !important;

    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .dontShowTextOnSmallDivce {
    // display: none !important;
    @include media("<tablet") {
      display: none;
      font-weight: normal !important;
    }
  }
}

.orange {
  background: linear-gradient(
    48deg,
    rgb(252, 222, 158) 0%,
    color(orange) 71%
  ) !important;
  // background-color: color(orange);
}

.transparent {
  background: transparent !important;
  border: 1px solid color(secondary) !important;

  p {
    color: color(white);
  }
}

.white {
  background: rgba(255, 255, 255, 0.3) !important;
}
