@mixin activeLink {
  content: "";
  background: color(lightSecondary);
  background: linear-gradient(
    48deg,
    color(lightSecondary) 0%,
    color(darkSecondary) 71%
  );
  display: block;
  position: absolute;
}

@mixin newLink {
  content: "New";
  font-size: x-small;
  background: color(lightSecondary);
  background: linear-gradient(
    48deg,
    color(lightSecondary) 0%,
    color(darkSecondary) 71%
  );
  display: block;
  position: absolute;
  padding: 3px;
  padding-bottom: 10px;
  border-radius: 10%;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

@mixin colorsPinker {
  input[type="checkbox"] {
    margin-left: 10px;
  }

  input[type="checkbox"]:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 1px solid color(secondary);
    border-radius: 50%;
  }

  #blue:after {
    background-color: #0657c2;
  }
  #green:after {
    background-color: greenyellow;
  }
  #orange:after {
    background-color: orange;
  }
  #red:after {
    background-color: red;
  }

  input[type="checkbox"]:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -4px;
    left: -4px;
    position: relative;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 3px solid color(secondary);
    border-radius: 50%;
  }
}
