$colors: (
  primary: #1a2038,
  secondary: #8f6afc,
  lightSecondary: rgb(170, 93, 215),
  darkSecondary: darken(rgb(170, 93, 215), 25%),
  surface: #212940,
  primary-light: lighten(#1a2038, 40%),
  primary-dark: darken(#1a2038, 40%),
  secondary-light: lighten(#212940, 40%),
  secondary-dark: darken(#212940, 40%),
  lightGreen: lightGreen,
  white: #ffffff,
  lightGray: lightGray,
  gray: gray,
  black: #000000,
  orange: orange,
  pink: rgb(245, 75, 154),
  lightBlue: rgb(197, 234, 245),
  purple: purple,
);

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}
