@import "../../../assets/styles/colors";
@import "../../../assets/styles/brackPoints";

.specialBranch {
  display: grid;

  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(2, auto);
  //   grid-gap: 20px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: auto;

  @include media("<ipad") {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
  }
}
