@import "../../../assets/styles/colors";
@import "../../../assets/styles/brackPoints";

.specialCard {
  width: 270px;
  height: 300px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  color: color(black);
  justify-content: center;
  align-items: center;
  background-color: color(white);

  &__top {
    position: relative;
    background-color: bisque;
    border-radius: 25px;
    display: flex;
    width: 90%;
    height: 45%;
    justify-content: center;
  }
  &__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: color(white);
    border-radius: 50%;
    color: color(secondary) !important;
  }
  &__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 25px;
  }
  &__text {
    width: 90%;
    margin: 5px auto;
  }
  &__title {
    font-size: medium;
  }
  &__rating {
    width: 90%;
    margin: 5px auto 10px;
    display: flex;
    justify-content: center;
  }
  &__pricing {
    margin-bottom: 10px;
    font-size: medium;
  }
  &__price {
    font-size: medium;
  }
}

.bannerCard {
  width: 180px !important;
  height: 200px !important;
  @include media("<tablet") {
    display: none;
  }
}
